$small-screen: 30em;
$medium-screen: 42em;
$large-screen: 90em;

body.spaces {
  &.index {
    @media screen and (max-width: 50em) {
      #content, aside {
        width: 100%;
      }
      aside {
        .environment, .type, .access {
          float: left;
          width: 31%;
          margin-right: 3.5%;
        }
        .access {
          margin-right: 0;
        }
      }
    }
    @media screen and (max-width: $small-screen) {
      aside {
        .environment, .type, .access {
          width: 100%;
          margin-right: 0%;
          float: none;
        }
        .custom {
          &.dropdown {
            height: 3em;
            .current {
              line-height: 2em;
            }
            .selector {
              height: 3em;
            }
          }
        }
      }
    }
  }
  #main {
    .where, .what, .how {
      label {
        float: left;
        padding: 1em;
        i {
          display: block;
          margin: 0 auto 1em;
        }
      }
    }
    .where {
      label {
        width: 49%;
        &#indoor_button_label {
          margin-right: 2%;
        }
      }
    }
    .what {
      &.indoor {
        label {
          width: 23.5%;
          margin-right: 2%;
          &#basement_button_label {
            margin-right: 0;
          }
          @media screen and (max-width: $medium-screen) {
            width: 49%;
            &#garage_button_label {
              margin-right: 0;
            }
          }
        }
      }
      &.outdoor {
        label {
          width: 32%;
          margin-right: 2%;
          &#uncovered_area_button_label {
            margin-right: 0;
          }
          @media screen and (max-width: $medium-screen) {
            width: 100%;
            margin-right: 0;
            margin-bottom: .25em;
            i {
              display: inline;
            }
          }
        }
      }
    }
    .how {
      label {
        width: 32%;
        margin-right: 2%;
        &#onetime_button_label {
          margin-right: 0;
        }
        @media screen and (max-width: $medium-screen) {
          width: 100%;
          margin-right: 0;
          margin-bottom: .25em;
          i {
            display: inline;
          }
        }
      }
      .features {
        ul {
          li {
            @media screen and (max-width: $medium-screen) {
              margin-bottom: .25em;
            }
          }
        }
      }
    }
    section {
      clear: both;
    }
  }
}

