body.spaces {
  .locations {
    ul {
      margin-bottom: 1em;
      float: left;
      li {
        float: left;
        margin-right: 1em;
        :before {
          margin-right: .5em;
        }
      }
    }
    ul.icons {
      li {
        margin-right: .25em;
      }
    }
    form {
      margin: 0;
    }
  }
  #tags {
    span {
      &:last-of-type {
        &:before {
          content: 'and ';
        }
        &:after {
          content: '.';
          margin-left: -.175em;
        }
      }
      &:nth-last-of-type(3) {
        &:after {
          content: ',';
          margin-left: -.175em;
        }
      }
    }
  }
  .panel {
    @include border-radius($radius);
    .icon-filter {
      opacity: .6;
    }
    label {
      font-size: .8375em;
      margin-bottom: .5em;
    }
    button {
      margin-bottom: 0;
    }
  }
  .address {
    float: left;
    font-size: 150%;
    line-height: 2.4em;
    margin-right: 1em;
    i {
      line-height: 2.4em;
    }
    @media screen and (max-width: $tablet-screen) {
      float: none;
      margin-right: 0;
    }
  }
  blockquote {
    .icon-lightbulb {
      font-size: 125%;
      border: 2px solid;
      border-radius: 1000px;
      padding: .5em;
      width: 2em;
      height: 2em;
      text-align: center;
      margin-right: .5em;
    }
  }
  table {
    width: 100%;
    margin-bottom: 0;
    .value {
      font-weight: bold;
      text-align: right;
    }
  }
  .clearing-thumbs {
    margin-bottom: 1em;
    li {
      img {
        max-width: 100%!important;
      }
      width: 23.5%;
      margin: 0 2% .5em 0;
      &:last-of-type {
        margin-right: 0!important;
      }
      @media screen and (max-width: $small-screen) {
        width: 49%;
        margin-right: 2%;
        &:nth-of-type(2){
          margin-right: 0!important;
        }
      }
    }
  }
  #photos {
    .clearing-thumbs {
      li {
        width: 49%;
        margin: 0 2% 1em 0;
        float: left;
        &:nth-of-type(2n+0) {
          margin-right: 0!important;
        }
        @media screen and (max-width: $medium-screen) {
          width: 18.4%;
          margin-right: 2%;
          &:nth-of-type(2n+0) {
            margin-right: 2%!important;
          }
          &:last-of-type {
            margin-right: 0!important;
          }
        }
      }
    }
  }
}