%h2 
  Find that Space...
  /
    %form.simple_form.custom
      .row
        .large-9.small-9.columns
          .input
            %label 
              %i.icon-search.icon-left
              try boat storage, locked, access level, etc. 
            %input.string{type: 'text'}
        .large-3.small-3.columns
          %button.radius.button
            Search
  = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})

= render 'listing', locals: { 'spaces' => @spaces } 
