
%h2 
  Find a Space

= gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
%a#filter_btn.button.large.standard.expand.radius
  %i.icon-filter
  Filter Results
%form.filter.custom.nomrg.hide
  %h2 Filter Results
  .row
    .column.small-12.large-3.environment
      %select
        %option Environment:
        %option Indoor
        %option Outdoor
    .column.small-12.large-3.type
      %select
        %option Space Type:
        %option Attic
        %option Garage
        %option Spare Room
        %option Basement
        %option Driveway
        %option Covered Area
        %option Uncovered Area
    .column.small-12.large-3.access
      %select
        %option Access:
        %option Anytime
        %option Appointment
        %option Onetime
    .column.small-12.large-3.access
      %a.button.large.radius.expand.greenie 
        %i.icon-rocket
        Search
      
%hr     
= render 'listings', locals: { 'spaces' => @spaces } 
