$bg-image: image-url("tile2.svg") repeat;

/* Colors */
$green: #87ae3a;
$powder: #7cabd3;
$orange: lighten(#f48231,5);
$gray: rgba(85, 85, 85, 0.5);

$red: #D44B4E;

@mixin theme($base, $accent, $tertiary, $ordinary, $warning) {
  background: $base $bg-image;
  color: darken($base, 20);
  &.sessions, &.registrations, &.passwords, &.confirmations {
    background-color: darken($base,50);
  }
  blockquote {
    color: darken($tertiary, 10);
    background: lighten($tertiary, 50);
    border: 1px solid lighten($tertiary, 20);
    a {
      text-decoration: underline;
    }
  }
  #address_search_field {
    color: $tertiary;
  }

  .feature-icons {
    li {
      i {
        &:hover {
          color: $tertiary;
        }
        &:before {
          color: $ordinary;
        }
      }
    }
  }
  .launch {
    background-color: $accent;
    box-shadow: 1px 2px 0 darken($accent,20);
    font-weight: 600;
    color: darken($accent,30);
    text-shadow: 0 1px 0 lighten($accent,20);
    &:hover {
      background-color: darken($accent,5);
      color: darken($accent,30);
    }
    &:active {
      background-color: darken($accent,30);
      top: 2px;
    }
  }
  .beta {
    color: $tertiary;
    vertical-align: super;
  }
  .social {
    a {
    color: darken($base, 50);
      &:hover {
        color: darken($base, 60);
      }
      &:active {
        color: darken($base, 70);
      }
    }
  }
  .hero, .price {
    h1, h1 small {
      color: darken($base, 50);
    }
    color: darken($base, 50);
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    border: 1px solid lighten($base, 20);
    box-shadow: 0 none;
    background-color: lighten($base, 97);
    color: darken($base, 40);
    &:focus {
      box-shadow: none!important;
      border-color: darken($base, 10);
      background-color: #fff;
    }
  }
  input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
    color: lighten($base, 80);
    background-color: darken($base, 20);
    &:hover {
      color: lighten($base, 90);
      background-color: darken($base, 40);
    }
  }
  .box {
    background: lighten($base, 35);
    color: #555;
    .input {
      label {
        color: $base;
      }
    }
    .bigtime {
      background-color: lighten($base, 5);
    }
    .sidebar {
      ul {
        .active {
          .content {
            background-color: darken($base, 20);
            color: lighten($base, 80);
          }
        }
        .inactive {
          .content {
            background-color: lighten($base, 80);
          }
        }
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: rgba(#555, .5);
    }
    label, .checkbtns > li {
      &.button {
        background-color: $base;
        transition: all;
        color: lighten($base, 80);
        &:hover, &:active, &.active {
          background-color: darken($base, 20);
        }
      }
    }
    a {
      color: darken($base, 10);
      &:hover {
        color: darken($base, 20);
      }
    }
  }
  .contain-to-grid {
    background: darken($base, 50);
    .top-bar {
      background: none;
      .top-bar-section .has-dropdown {
        padding: 0 0 0 .5em;
        &:hover {
          background: darken($base, 40);
          color: $tertiary;
          .dropdown {
            background: darken($base, 40);
          }
        }
      }
      a {
        @include transition();
        &:not(button) {
          color: lighten($base, 90);
        }
        &.button {
          color: lighten($accent, 90);
          background-color: $accent;
          &:hover {
            background-color: darken($accent, 10);
          }
          &:active {
            background-color: darken($accent, 20);
            top: 10px;
          }
        }
      }
      .brand {
        a {
          color: darken($base, 70);
          &:hover {
            color: darken($base, 50);
          }
        }
      }
    }
  }
  .price {
    background: rgba(darken($base, 50),.05);
    color: darken($base, 40);
    h2 {
      margin-bottom: .25em;
    }
  }
  ul.features {
    li {
      :before {
        color: darken($base, 10);
      }
      color: darken($base, 40);
    }
  }
  .slider > .dragger {
    background: $tertiary;
    border: 0 none;
    box-shadow: transparent none;
  }
  .shade {
    background: rgba(darken($base, 60),.7);
  }
  .bigtime, .smalltime {
    border-radius: 3px;
    background-image: url(http://www.destateparks.com/irimarina/images/Drystack_Example_Forklift.jpg);
    h2 {
      color: lighten($base,90);
    }
    h5 {
      color: lighten($base,70);
    }
  }
  .button, a.button {
    transition: background-color 300ms ease-out;
    color: #fff;
    &.warmish, &.launch {
      background-color: $accent;
      color: lighten($accent, 90);
      box-shadow: 0px 3px darken($accent, 20);
      &:hover {
        background-color: lighten($accent, 5);
      }
      &:active {
        background-color: darken($accent, 20);
        top: 2px;
      }
    }
    &.greenie {
      background-color: $tertiary;
      color: lighten($tertiary, 90);
      box-shadow: 0px 3px darken($tertiary, 20);
      &:hover {
        background-color: lighten($tertiary, 5);
      }
      &:active {
        background-color: darken($tertiary, 10);
        top: 2px;
      }
    }
    &.standard {
      background-color: $base;
      color: lighten($base, 90);
      box-shadow: 0px 3px darken($base, 20);
      &:hover {
        background-color: lighten($base, 5);
      }
      &:active {
        background-color: darken($base, 10);
        top: 2px;
      }
    }
    &.warning {
      background-color: $warning;
      color: lighten($warning, 90);
      box-shadow: 0px 3px darken($warning, 20);
      &:hover {
        background-color: lighten($warning, 5);
      }
      &:active {
        background-color: darken($warning, 10);
        top: 2px;
      }
    }
  }
  .well {
    background-color: lighten($base, 30);
  }
  #flash_notice, #flash_alert {
    padding: 1em;
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
  }
  #flash_notice {
    background-color: lighten($tertiary, 40);
    border: solid 1px $tertiary;
    color: $tertiary;
  }
  #flash_alert {
    background-color: lighten($accent, 40);
    border: solid 1px $accent;
    color: $accent;
  }

}

body {
  @include theme($powder, $orange, $green, $gray, $red);
}


