$xs-screen: 20em;//320px
$small-screen: 30em;//480px
$medium-screen: 42em;//672px
$tablet-screen: 48em;//768px
$nav-toggle-screen: 58em;//768px
$large-screen: 90em;//1440
$em-base: 18 !default;
$base-font: "Dosis";
$alt-font: "Quicksand";
$radius: .25em;
$round: 100em;