.row.hero.center
  %h1 You make storage sweet.
.row
  %h3 Find Space
  %p streamline, slimdown, lighten up, save for later.
  %h3 List Space
  %p make some dough, do some good, become a SA Sensei.
  
  
  Bonjour! We are here to make storage cool and fun. Make some loot or store some boots.