.row
  .box
    %form{:action => "/search/pittsburgh-pa", :method => "GET"}
      %input{:autofocus => "", :name => "query", :placeholder => "Where do you want to store your belongings?", :type => "text"}
        %button.btn{:type => "submit"} Let's find some storage space!