.row
  - @users.each do |user|
    %p
      User: #{link_to user.name, user}

  %p.small Rails environment is
  = Rails.env

  %h1 Throwaway everything you know about traditional storage.
  %h2 stowaway.co