.center
  .row.hero
    %h1 Throw out what you know about 'traditional' storage.
    %h2.logo stowaway.co
  %a.button.large.round{:href => "#", "data-reveal-id" => "myModal"} 
    %i.icon-rocket.icon-left.icon-muted
    BE NOTIFIED
  .row.mb20
    %h4.small.large-6.large-offset-3.columns
      We will give you a heads up when we launch. In the meantime, enjoy some
      = succeed "." do
        %a{:href => "http://www.youtube.com/watch?v=joDjwtjIQS8", :target => "_blank"} Rock'em Sock'em Robots
    //%p.small= Rails.env
= render 'home/modals'
  
