.row.hero
  - @users.each do |user|
    %p
      user: #{link_to user.name, user}

  %h1 Throwaway everything you know about traditional storage.
  %h2.logo stowaway.co
  %a.button.round{:href => "#"} GET NOTIFIED
  %p.small
    When we are go for launch you will know. We are eager to change the way people store their mint condition
    = succeed "." do
      %a{:href => "http://www.youtube.com/watch?v=joDjwtjIQS8", :target => "_blank"} Rock'em Sock'em Robots
  //%p.small= Rails.env
  