- if s.access == "anytime"
  %li
    .ico-open
    Anytime Access
- elsif s.access == "appointment"
  %li
    .ico-clock
    Appointment Access
- elsif s.access == "limited"
  %li
    .ico-bolt
    One-Time Access