/* Branding */

.logo {
  font-family: $alt-font;
  font-weight: normal;
  letter-spacing: -1px;
}

.center-logo {
  text-align: center;
  margin: 2em 0;
  font-size: 200%;
  @media screen and (max-width: 320px) {
    margin: 1em 0;
    font-size: 150%;
  }
}

.top-bar {
  padding: 0 10px;
  .logo {
    font-size: emCalc(22);
    height: auto;
    padding: .8em .5em;
  }
  &.expanded{
    .title-area {
      background: transparent;
    }
  }
  .top-bar-section {
    ul {
      background: none;
      @media screen and (max-width: $medium-screen) {
        padding: 0 0 .75em 0;
      }
      .has-dropdown {
        a {
          padding-right: 2em!important;
          &:after {
            margin-right: 1em;
          }
        }
      }
      li {
        a {
          font-size: emCalc(18);
          &:not(.button) {
            background: none;
            padding: 0 .5em;
          }
          &#account {
            display: block;
            img {
              @include border-round($round);
              margin-right: .5em;
              width: 2em;
              height: 2em;
              position: relative;
              top: -.15em;
            }
          }
        }
        .dropdown {
          padding: 0 .5em .5em;
          border-radius: 0 0 $radius $radius;
          li {
            a {
              padding: .5em;
              @include border-radius($radius);
              i {
                margin-right: 1em;
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
}
nav#menu {
  @include border-radius(0);
  &.panel {
    position: fixed;
    right: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    #account {
      margin-bottom: .5em;
      display: block;
      img {
        @include border-round($round);
        width: 30px;
        height: 30px;
        margin-right: 1em;
      }
    }
    ul.dropdown {
      margin-left: 0;
      a {
        display: block;
        line-height: 2;
        margin-bottom: .5em;
        i {
          margin-right: 1em;
          padding: .25em;
          @include border-round($round);
          border: 1px solid;
          width: 30px;
          height: 30px;
          display: inline-block;
          text-align:center;
          line-height: 21px;
        }
      }
    }
  }
}
.menu-link {
  display: none;
  font-size: 1.5em;
  @include transition(all);
  @media screen and (max-width: $tablet-screen) {
    display: inline-block!important;
    position: absolute;
    top: .25em;
    right: .25em;
    padding: .5em;
  }
}
@media screen and (max-width: $tablet-screen) {
  section.top-bar-section {
    display: none;
  }
}