h1, h2, h3 {
  font-weight: 500;
}

h4, h5 {
  font-family: $alt-font;
}

p {
  font-size: 125%;
  a {
    border-bottom: 1px solid;
  }
  &.small {
    font-size: 1em;
  }
}

.t-center {
  text-align: center;
}

.price {
  text-align: center;
}

.title {
  text-transform: capitalize;
}

.shade {
  h2 {
    margin-bottom: 0;
  }
}

.locations {
  h3 {
    margin-top: 0;
  }
  .button.round {
    margin-bottom: .25em;
  }
}
nav {
  text-transform: lowercase;
  font-weight: normal;
}
.has-tip {
  font-weight: normal;
}


li {
  list-style-type: none;
}



