input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: .25em;
  font-size: 1em;
  border-radius: 5px;
  text-transform: auto;
}

#space_length, #space_width, #space_height {
padding: 0 1em;
text-align: center;
}

#address_search_field {
  background: none;
  border: 0;
  font-weight: bold;
  font-size: 125%;
  box-shadow: none;
}

.input {
  position: relative;
  textarea {
    height: 7em;
  }
  &.integer {
    width: 100px;
    float: left;
    margin-right: 1em;
  }
  label {
    position: absolute;
    z-index: 2;
    top: .75em;
    left: .75em;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    font-size: 1em;
    white-space: nowrap;
    text-transform: lowercase;
    cursor: text;
    opacity: 1;
    transition: opacity 300ms ease-out;
    &:focus {
      opacity: 0;
      display: none;
    }
  }
}

.input.boolean, .input > .selectdrop {
  height: 2em;
}

.input.boolean, .input.country {
  label {
    position: relative;
    z-index: 1;
    top: 0;
  }
}

form.custom {
  .custom {
    &.radio, &.checkbox {
      display: none;
    }
    &.dropdown {
      height: 4em;
      border-radius: 3px;
      &:hover {
       cursor: pointer;
      }
      .selector {
        height: 4em;
        &:hover {
         cursor: pointer;
        }
      }
      .current, ul {
        font-size: 1.5em;
        line-height: 2.5em;
        margin-right: 0;
      }
    }
  }
  .select2-container.select2-container-multi {
    width: 100%;
    .select2-choices {
      border: 1px solid #c8dced;
      padding: 0 .5em;
      font-size: 1.5em;
      border-radius: 5px;
      background-image: none;
      &:focus {
       outline: none;
      }
    }
  }
  .user_remember_me {
    .checkbox {
      .custom.checkbox {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

#message_body {
  height: 20em;
}
