/*
 *= require_self
 *= require font-awesome
 *= require select2
*/

@import "compass";

@import "base/foundation_overrides";
@import "base/foundation_grid";
@import "base/variables";
@import "base/colors";
@import "base/mixins";

@import "partials/forms";
@import "partials/typography";
@import "partials/icons";
@import "partials/nav";
@import "partials/buttons";

@import "vendor/gmaps4rails";
@import "vendor/simple-slider";
@import "vendor/simple-slider-volume";

@import "compass/layout/sticky-footer";

@import "partials/pages/space";
@import "partials/pages/addspace";

@include sticky-footer(5.188em, "#main", "#f_shiv", "#footer");

::selection {
 background: rgba(0,0,0,.1);
}

body {
  font-family: $base-font;
}

footer {
  padding: 1.1em 0 0;
  .social {
    display: inline-block;
  }
}

/* Negative Space */

.mb20 {
  margin-bottom: emCalc(20)!important;
}

.mt20 {
  margin-top: emCalc(20)!important;
}

.mt50 {
  margin-top: emCalc(50)!important;
}

.mb50 {
  margin-bottom: emCalc(50)!important;
}

.mr10 {
  margin-right: emCalc(10)!important;
}
.nomrg {
  margin: 0!important;
}


.box, .reveal-modal {
  background: #fff;
  @include border-radius(3px);
  padding: 2em;
  margin-bottom: 25px;
  box-shadow: 0 0 0 10px rgba(5,55,88,0.1),0 1px 3px rgba(0,0,0,0.1);
  color: #555;
  h1, h2, h3, h4, h5, h6 {
    color: rgba(#555, .5);
  }
}

.sidebar {
  padding: 0 1em 0 0;
  .navbar-steps {
    margin: 0;
    list-style: none;
    .content {
      color: #000;
      background: #eee;
      display: block;
      height: 36px;
      padding: 8px;
      margin: 3px 0;
      font-size: 12px;
      color: #666;
      font-weight: 700;
      text-transform: uppercase;
      @include border-radius($radius);
      line-height: 20px;
      .num-container {
        width: 20px;
        height: 20px;
        margin: 0 8px 0 0;
        float: left;
        .dot {
          display: none;
          width: 8px;
          height: 8px;
          @include border-radius($radius);
          margin: 4px;
          background: #000;
        }
      }
      .icon-ok-sign {
        display: none;
      }
    }
  }
}

// Layout Elements

.box {
  padding: 1em 2%;
  margin-bottom: 25px;
  box-shadow: 0 0 0 10px rgba(5,55,88,0.1),0 1px 3px rgba(0,0,0,0.1);
}

.well {
  border: 0!important;
  @include border-radius($radius);
  margin-bottom: 1em;
  padding: 1em 1em 0 1em;
  h3 {
    text-align:center;
  }
}

.fitimg {
  img {
    width: 100%;
  }
}

img {
  @include border-radius($radius);
  max-width: 100%;
  height: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.endround {
  border-radius: 0 62em 62em 0;
}

blockquote {
  border-left: 0 none;
  padding: 1em;
  @include border-radius($radius);
  font-size: 120%;
  @media screen and (max-width: $medium-screen) {
    font-size: 100%;
  }
}

.has-tip {
  border-bottom: 0 none;
  &:hover, &:focus {
   cursor: default;
   border-bottom: 0 none;
  }
}

h2 {
  sup {
    font-family: $alt-font;
    font-size: 50%;
    letter-spacing: 0px;
  }
}

.center-small {
  text-align: center;
}

.avatar {
  img {
    @include border-round($round);
    border: 1px solid whitesmoke;
  }
}