/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 //= require foundation_and_overrides
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require gmaps4rails
 *= require select2
 *= require simple-slider
 *= require deviceable
*/

@import "base";

@include sticky-footer(83px, "#main", "#f_shiv", "#footer");

$small-screen: 480px;
$medium-screen: 42.66667em;
$large-screen: 1440px;

$em-base: 18 !default;

// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value)  {
  $value: strip-unit($value) / strip-unit($em-base) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

@function emCalc($values...) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1)); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i)));
  }
  @return $emValues;
}

::selection {
 background: rgba(0,0,0,.1); 
}
body {
  font-family: "Dosis";
}

footer {
  padding: 1.1em 0 0;
  .social {
    display: inline-block;
  }
}

/* Negative Space */

.mb20 {
  margin-bottom: emCalc(20)!important;
}

.mt20 {
  margin-top: emCalc(20)!important;
}

.mt50 {
  margin-top: emCalc(50)!important;
}

.mb50 {
  margin-bottom: emCalc(50)!important;
}

.mr10 {
  margin-right: emCalc(10)!important;
}
.nomrg {
  margin: 0!important;
}
/* Branding */

.logo {
  font-family: "Quicksand";
  font-weight: normal;
  letter-spacing: -1px;
}

.box, .reveal-modal {
  background: #fff;
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 25px;
  box-shadow: 0 0 0 10px rgba(5,55,88,0.1),0 1px 3px rgba(0,0,0,0.1);
  color: #555;
  h1, h2, h3, h4, h5, h6 {
    color: rgba(#555, .5);
  }
}


.top-bar {
  padding: 0 10px;
  .logo {
    font-size: emCalc(22);
    height: auto;
    padding: .8em .5em;
  }
  &.expanded{
    .title-area {
      background: transparent;
    }
  }
  .top-bar-section {
    ul {
      background: none;
      @media screen and (max-width: $medium-screen) {
        padding: 0 0 .75em 0;
      }
      li {
        a {
          font-size: emCalc(18);
          &:not(.button) {
            background: none;
          }
          &#account {
            padding: 0;
            position: relative;
            top: -2px;
            @media screen and (max-width: $medium-screen) {
              top: 0;
              margin: 0 0 .75em 0;
            }
            img {
              border-radius: 3px;
              margin-right: 6px;
              width: 48px;
              height: 48px;
            }
          }
        }
        .dropdown {
          padding: 0 .5em .5em;
          border-radius: 0 0 3px 3px ;
          li {
            a {
              padding: .5em;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

/* Icons */

.sidebar {
  padding: 0 1em 0 0;
  .navbar-steps {
    margin: 0;
    list-style: none;
    .content {
      color: #000;
      background: #eee;
      display: block;
      height: 36px;
      padding: 8px;
      margin: 3px 0;
      font-size: 12px;
      color: #666;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 20px;
      .num-container {
        width: 20px;
        height: 20px;
        margin: 0 8px 0 0;
        float: left;
        .dot {
          display: none;
          width: 8px;
          height: 8px;
          border-radius: 4px;
          margin: 4px;
          background: #000;
        }
      
      }
      .icon-ok-sign {
        display: none;
      }
    }
  }
}
/* Type */

.center {
  text-align: center;
}
nav {
  text-transform: lowercase;
  font-weight: normal;
}
h1 {
  font-weight: 500;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
p {
  a {
    border-bottom: 1px solid;
  }
}

.price {
  border: 0!important;
  border-radius: 3px;
  margin-bottom: 1.5em;
  padding: 1em 1em 1.75em;
}

.fitimg {
  img {
    width: 100%;
  }
}
img {
  border-radius: 3px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.endround {
  border-radius: 0 1000px 1000px 0;
}

blockquote {
  border-left: 0 none;
  padding: 1em;
  border-radius: 6px;
  font-size: 1.2em;
}

.center-logo {
  text-align: center;
  margin: 2em 0;
  font-size: 200%;
}