/* Buttons */

.button, .btn {
  border-radius: 6px;
  transition: background-color 300ms ease-out;
  &:hover {
  }
  .icon-rocket {
    color: rgba(255,255,255,.5);
    margin: 0 1em 0 0;
  }
} 

button.large, .button.large {
  padding: 1em;
}

.contain-to-grid {
  .top-bar {
    li.signup {
      margin: 0 0 0 .5em;
      a.button {
        padding: .25em .5em;
      }
    }
  }
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
  padding: 1em;
  font-size: 1em;
  border: 0 none;
  &:hover {
    cursor: pointer; 
  }
}