$bg-image: image-url("tile2.svg") repeat;

/* Colors */
$green: #87ae3a;
$powder: #7cabd3;
$orange: lighten(#f48231,5);

/*
$blue: rgb(26, 101, 228);
$peach: rgb(253, 182, 63);
$magenta: rgb(184, 5, 146);
$lavender: rgb(110, 94, 116); //Lavender
$tweed: rgb(128, 98, 44);
$red: rgb(200, 70, 57);
$midnight: rgb(14, 41, 73);
$sky: #3aa8f7;
$burgundy: #541c1e;
*/

@mixin theme($base, $accent, $tertiary) {
  blockquote {
    color: darken($tertiary, 10);
    background: lighten($tertiary, 50);
    border: 1px solid lighten($tertiary, 20);
    a {
      text-decoration: underline;
    }
  }
  background: $base $bg-image;
  color: darken($base, 20);
  .launch {
    background-color: $accent;
    box-shadow: 1px 2px 0 darken($accent,20);
    font-weight: 600;
    color: darken($accent,30);
    text-shadow: 0 1px 0 lighten($accent,20);
    &:hover {
      background-color: darken($accent,5);  
      color: darken($accent,30);
    }
    &:active {
      background-color: darken($accent,30); 
      top: 2px;
    }
  }
  .beta {
    color: $tertiary;
    vertical-align: super;
  }
  .social {
    a {
    color: darken($base, 50);
      &:hover {
        color: darken($base, 60);
      }
      &:active {
        color: darken($base, 70);
      }
    }
  }
  .hero, .price {
    h1, h1 small {
      color: darken($base, 50);
    }
    color: darken($base, 50);
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    border: 1px solid lighten($base, 20);
    box-shadow: 0 none;
    background-color: lighten($base, 97);
    &:focus {
      box-shadow: none!important;
      border-color: darken($base, 10);
      background-color: #fff;
    }
  }
  input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
    color: lighten($base, 80);
    background-color: darken($base, 20);
    &:hover {
      color: lighten($base, 90);
      background-color: darken($base, 40);
    }
  }
  .box {
    background: lighten($base, 32);
    border-radius: 3px;
    padding: 2em;
    margin-bottom: 25px;
    box-shadow: 0 0 0 10px rgba(5,55,88,0.1),0 1px 3px rgba(0,0,0,0.1);
    color: #555;
    .input {
      label {
        color: darken($base, 40);
      }
    }
    .sidebar {
      ul {
        .active {
          .content {
            background-color: darken($base, 20);
            color: lighten($base, 80);
          }
        }
        .inactive {
          .content {
            background-color: lighten($base, 80);
          }
        }
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: rgba(#555, .5);
    }
    label, .checkbtns > li {
      &.button {
        background-color: lighten($base, 80);
        transition: all;
        color: $base;
        &:hover {
          background-color: $base;
          color: lighten($base, 80); 
        }
        &:active, &.active {
          background-color: darken($base, 20);
          color: lighten($base, 80);
        }
      }
    }
    a {
      color: darken($base, 10);
      &:hover {
        color: darken($base, 20);
      }
    }
  }
  .contain-to-grid {
    background: rgba(darken($base, 60),.9);
    .top-bar {
      background: none;
      .top-bar-section .has-dropdown {
        padding: 0 0 0 .5em;
        &:hover {
          background: darken($base, 40);
          .dropdown {
            background: darken($base, 40);
          }  
        }
      }
      a {
        &:not(button) {
          color: lighten($base, 90);
        }
        &.button {
          color: lighten($accent, 90);
          background-color: $accent;
          &:hover {
            background-color: darken($accent, 10);
          }
          &:active {
            background-color: darken($accent, 20);
            top: 10px;
          }
        }
      }
      .brand {
        a {
          color: darken($base, 70);
          &:hover {
            color: darken($base, 50);
          }
        }
      }
    }
  }
  .price {
    background: rgba(darken($base, 50),.05);
    color: darken($base, 40);
    h2 {
      margin-bottom: .25em;
    }
  }
  .slider > .dragger {
    background: $green;
    border: 0 none;
    box-shadow: transparent none;
  }
  .shade {
    background: rgba(darken($base, 60),.7);
  }
  .bigtime, .smalltime {
    border-radius: 3px;
    h2 {
      color: lighten($base,90);
    }
    h5 {
      color: lighten($base,70);
    }
  }
  .button, a.button {
    background-color: darken($base, 20);
    transition: background-color 300ms ease-out;
    color: #fff;
    &.warmish, &.launch {
      background-color: $accent;
      color: lighten($accent, 90);
      &:hover {
        background-color: darken($accent, 10);
      }
      &:active {
        background-color: darken($accent, 20);
        top: 2px;
      }
    }
    &.greenie {
      background-color: $tertiary;
      color: lighten($tertiary, 90);
      &:hover {
        background-color: darken($tertiary, 10);
      }
      &:active {
        background-color: darken($tertiary, 20);
        top: 2px;
      }
    }
    &.standard {
      background-color: $base;
      color: lighten($base, 90);
      &:hover {
        background-color: darken($base, 10);
      }
      &:active {
        background-color: darken($base, 20);
        top: 2px;
      }
    }
    &:hover {
      background-color: lighten($base, 70);
      color: #fff;
    }
  }
  .well {
    padding: 1em;
    background-color: lighten($base, 70);
  }
  #flash_notice, #flash_alert {
    padding: 1em;
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
  }
  #flash_notice {
    background-color: lighten($tertiary, 40);
    border: solid 1px $tertiary;
    color: $tertiary;
  }
  #flash_alert {
    background-color: lighten($accent, 40);
    border: solid 1px $accent;
    color: $accent;
  }
}

body {
  @include theme($powder, $orange, $green);
}

/*
body.storagespaces {
  @include color-one($sky);
}

body.home {
@include color-one($lavender);
}

body.listspace {
  @include color-one($blue);
}

body.sessions {
  @include color-one($green);
}

body.registrations {
  @include color-one($orange);
}

body.passwords, body.confirmations {
  @include color-one($peach);
}
*/


