/* Colors */

$blue: rgb(26, 101, 228);
$peach: rgb(253, 182, 63);
$magenta: rgb(184, 5, 146);
$lavender: rgb(110, 94, 116); //Lavender
$green: #87ae3a;
$tweed: rgb(128, 98, 44);
$red: rgb(200, 70, 57);
$midnight: rgb(14, 41, 73);
$orange: rgb(252, 122, 30);
$sky: #8b98d8;
$bg-image: image-url("tile2.svg") repeat ;

@mixin page-color-theme($base_color) {
  .box {
    background: tint($base_color, 90);
    border-radius: 3px;
    padding: 2em;
    margin-bottom: 25px;
    box-shadow: 0 0 0 10px rgba(5,55,88,0.1),0 1px 3px rgba(0,0,0,0.1);
    color: #555;
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
      border: 1px solid tint($base_color, 70);
      box-shadow: 0 none;
      background-color: tint($base_color, 97);
      &:focus {
        box-shadow: none!important;
        border-color: shade($base_color, 10);
         background-color: #fff;
      }
    }
    input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
      color: tint($base_color, 80);
      background-color: shade($base_color, 20);
      &:hover {
        color: tint($base_color, 90);
        background-color: shade($base_color, 40);
      }
    }
    label {
      color: shade($base_color, 40);
    }
    .sidebar {
      ul {
        .active {
          .content {
            background-color: shade($base-color, 20);
            color: tint($base-color, 80);
          }
        }
        .inactive {
          .content {
            background-color: tint($base-color, 80);
          }
        }
      }
    }
    h1, h2, h3, h4, h5, h6 {
      color: rgba(#555, .5);
    }
    a {
      color: shade($base_color, 10);
      &:hover {
        color: shade($base_color, 20);
      }
    }
  }
  background: $base_color $bg-image;
  color: shade($base_color, 20);
  .contain-to-grid {
    background: shade($base_color, 50);
    .top-bar {
      background: none;
      a {
        transition: color 300ms ease-out;;
        &:not(button) {
          color: tint($base_color, 70);
          padding: 0 .5em;
        }
        &:hover {
          color: #fff;
        }
        &.button {
          color: tint($base_color, 70);
          background-color: shade($base_color, 80);
          &:hover {
            background-color: shade($base_color, 70);
          }
          &:active {
            background-color: shade($base_color, 80);
            top: 10px;
          }
        }
      }
      .brand {
        a {
          color: tint($base_color, 70);
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .button {
    background-color: shade($base_color, 80);
    &:hover {
      background-color: shade($base_color, 40);
    }
    &:active {
      background-color: shade($base_color, 60);
    }
  }
  .social {
    a {
    color: shade($base_color, 50);
      &:hover {
        color: shade($base_color, 60);
      }
      &:active {
        color: shade($base_color, 70);
      }
    }
  }
}

body.storagespaces {
  @include page-color-theme($sky);
}
body.home {
  @include page-color-theme($lavender);
}

body.listspace {
  @include page-color-theme($blue);
}

body.sessions {
  @include page-color-theme($red);
}

body.registrations {
  @include page-color-theme($green);
}

body.passwords, body.confirmations {
  @include page-color-theme($peach);
}
