input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 1em .5em;
  font-size: 1.5em;
  border-radius: 5px;
  text-transform: auto;
}

.input {
  position: relative;
  label {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 15px;
    left: 15px;
    color: #9a9da1;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    font-size: 1em;
    white-space: nowrap;
    text-transform: lowercase;
    cursor: text;
    opacity: 1;
    transition: opacity 300ms ease-out;
    &:focus {
      opacity: 0;
      display: none;
    }
  }
}

.input.boolean {
  height: 2em;
  label {
    position: relative;
    z-index: 1;
    top: 0;
  }
}