// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home{
  #main {
    .hero {
      padding: 6.66em 0 0;
      h1 {
        font-size: 3.2em;
        line-height: 1em;
      }
    }
    .launch {
      font-size: 150%;
    }
  }
}

$break-small: 480px;

body.home {
  #main {
    padding: 0 1%;
    @media screen and (max-width: $break-small) {
      .hero {
        padding-top: 2em;
      }
    }
  }
}