// Place all the styles related to the space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locations {
  img {
    height: 90px;
    width: 90px;
    border-radius: 1980px;
  }
  padding: 0 .5em;
}