// Place all the styles related to the space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locations {
  img {
    height: 110px;
    width: 110px;
    float: left;
    margin-right: 1em;
    @media screen and (max-width: 320px) {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
  ul {
    margin-bottom: 1em;
    float: left;
    li {
      float: left;
      margin-right: 1em;
      :before {
        margin-right: .5em;
      }
    }
  }
  form {
    margin: 0;
  }
  .avatar {
    img {
      height: 32px;
      width: 32px;
      border-radius: 1000px;
    }
  }
}

.bigtime {
  padding: 6em 0 0;
  margin: 0 0 2em;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.smalltime {
  padding: 2em 0 0;
  margin: 0 0 2em;
}

.bigtime, .smalltime {
  .shade {
    padding: .75em 1.5em;
    margin: 0 0 2em;
    border-radius: 0 1000px 1000px 0;
  }
}

ul.features {
  li {
    text-align: center;
    :before {
      display: block;
      font-size: 200%;
    }
  }
}

#tags {
  span {
    &:last-of-type {
      &:before {
        content: 'and ';
      }
      &:after {
        content: '.';
        margin-left: -.175em;
      }
    }
    &:nth-last-of-type(3) {
      &:after {
        content: ',';
        margin-left: -.175em;
      }
    }
  }
}