// Place all the styles related to the space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locations {
  img {
    height: 110px;
    width: 110px;
  }
  .avatar {
    img {
      height: 32px;
      width: 32px;
      border-radius: 1000px; 
    }
  }
}

.bigtime {
  padding: 6em 0 0;
  margin: 0 0 2em;
  background-position: 50%;
  .shade {
    padding: .75em 1.5em;
    margin: 0 0 2em;
    border-radius: 0 1000px 1000px 0;
  }
}