/* Type is gorgeous */

p {
  &.small {
    font-size: 1em;
  }
  font-size: 1.2875em
}

.t-center {
  text-align: center;
}

h2 {
  font-weight: 600;
}

.price {
  text-align: center;
}

.title {
  text-transform: capitalize;
}

.shade {
  h2 {
    margin-bottom: 0;
  }
}

.locations {
  h3 {
    margin-top: 0;
  }
  .button.round {
    margin-bottom: .25em;
  }
}

